/MCC.X/nbproject/private/
/MCC.X/build/XC16_24FJ256GA110/
/MCC.X/dist/XC16_24FJ256GA110/
/UNITE Main Code.X/nbproject/private/
/UNITE Main Code.X/build/XC16_24FJ256GA110/
/UNITE Main Code.X/dist/XC16_24FJ256GA110/
/MasterCode.X/nbproject/private/
/MasterCode.X/build/XC16_24FJ256GA110/
/MasterCode.X/dist/XC16_24FJ256GA110/