*.o

BackupofMCC/dist/XC16_24FJ256GA110/debug/BackupofMCC.debug.map

BackupofMCC/dist/XC16_24FJ256GA110/debug/BackupofMCC.debug.elf

*.d

*.xml

*.properties


BackupofMCC/nbproject/Makefile-variables.mk

BackupofMCC/nbproject/Makefile-genesis.properties

*.properties
/UNITE_Main.X/nbproject/private/
*.xml

*.xml

*.mk

*.xml
